<div class="match_details">
    <button routerLink="/" mat-fab color="warn" aria-label="Example icon button with a delete icon">
        <mat-icon>arrow_back</mat-icon>
      </button>

<p>

   <br>
    <mat-toolbar class="toolbar" >
      <span class="title">Mar 25,2023</span>
      <h3>RAJASTHAN UNITED VS KENKRE</h3>
    </mat-toolbar>
  </p>

<div class="main">
<div class="select">
    <h2>
        Selection:
        <select name="" id="">
            <option value="">Half Time Result-Draw</option>
            <option value="">Half Time Result-Home</option>
            <option value="">Half Time Result-Away</option>
        </select> 
    </h2>

    <h2>
        Leg:
        <select name="" id="">
            <option value="">5</option>
            <option value="">3</option>
            <option value="">4</option>
        </select> 
    </h2>
   
</div>

<div class="odds">
    <h1>Bet Builder Odds:236</h1>
</div>
</div>

</div>